<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="VAT" value="0.19"/>
	</appSettings>
	<connectionStrings>
		<add name="DatabaseConnection" connectionString="Data Source=B\SQLEXPRESS;Initial Catalog=Supermarket;Integrated Security=SSPI;" />
	</connectionStrings>
</configuration>